# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL=

#for kubernaties start
#the username is by default postgres
POSTGRES_USER=
POSTGRES_PASSWORD=

NEXT_PUBLIC_HOST_URL=http://localhost:3000

#GDPR consent
#This is what the local storage key will be
NEXT_PUBLIC_GDPR_CONSENT_KEY=consent.v1

#auth
JWT_SECRET=
JWT_REFRESH_SECRET=
SALT_ROUNDS=0

INTERNAL_API_REQUEST_SECRET=
AUTHED_API_REQUEST_SECRET=
OAUTH_CLIENT_HANDLE_PATH_REDIRECT=auth/oauth/callback
NEXT_PUBLIC_RESET_PASS_PATH="/auth/password/reset?token="

#mailing
RESEND_API_KEY=

#oauth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

#dev local
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""